.timer-container {
  transition: filter 0.3s ease; /* Smooth transition for the blur effect */
}
.blur {
  filter: blur(4px);
}
.drag-over {
  border: 2px dashed #000;
}
.fade-out {
  transition: opacity 0.6s ease;
  opacity: 0;
}

.timer-container.hover {
  background-color: #b282f5;
  border-color: #27ae60;
  border: 3px dashed #bdc3c7;
}

.dragging {
  background-color: #2980b9; /* Change background color when dragging */
}

.container input[type="number"] {
  width: 60%;
}

@media (min-width: 800px) {
  /* Adjust the min-width as needed */
  .container input[type="number"] {
    width: 120%;
  }
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
